{% extends 'base.html' %}

{% block content %}

{% if not current_user.is_authenticated %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <br>
        <br>
        <h1> Hi, this is FinSage</h1>
        <hr>
        <p> FinSage aims to help retail investors make better decisions, login/register to start your journey!</p>
    </div>
    <div class="col-12 col-md-8 col-sm-4">
        <img src="{{url_for('static', filename='img/AIConcept.png')}}" class="img-fluid mx-auto"
            alt="Financial AI Logo">
    </div>
</div>
{% else %}
{% if msg != 'success' %}

<div class="row justify-content-center">
    <div class="col-12 text-center">
        <br>
        <br>
        <h1> Start your Investment Journey with FinSage</h1>
        <a href="/chat" class="more-details-btn">Go to Chat</a>
    </div>
</div>

{% endif %}
{% endif %}
{% endblock %}